html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --font-main: "Quicksand", sans-serif;

  --color-bg: #F1F5F9;
  --color-text: #92A6BB;
  --color-primary: #63367D;
  --color-gradient-start: #63367D;
  --color-gradient-end: #B361E3;
  --color-black: #000000;
  --color-white: #FFFFFF;

  user-select: none;
}

/* Text style for titles and content */
h1 {
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

h2 {
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p, span, label, input, button {
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: Grey;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: var(--color-white);
  padding: 30px;
  border-radius: 20px;
  width: 500px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#modalContainer {
  display: none;
}

.empty-state {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  height: 100%;
  width: 100%;
  color: black;
  z-index: 10;
}